{% extends 'auction/layout.html' %}


{% block title %}
    {{item.Title}}
{% endblock %}


{% block body %}
<div class="inner_container">
    <div class="watchlist">
        <form action="{% url 'watchlist' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if item.id in watchlist %}
                <input id="Watchlist_btn" type="submit" name="remove_from_watchlist" value="&#9733; Remove from Watchlist">
            {% else %}
                <input id="Watchlist_btn" type="submit" name="add_to_watchlist" value="&#9734; Add To Watchlist">               
            {% endif %}
            <input type="hidden" name="list_id_watchlist" value="{{item.id}}">
        </form>
    </div>
    <div class="list_detail_image_container">
        <div class="list_detail_image_display">
            {% if item.Display_Image %}
                <img src="/media/{{item.Display_Image}}">
            {% else %}
                <img src="/media/no-image-available-icon.jpg">
            {% endif %}
        </div>
    </div>

    <div class="list_detail_info"><hr>
        <div class="list_detial_price">
            <strong>Price: </strong>{{item.Price}} &#8377;
        </div><hr>
        <div class="list_detial_description">
            <strong>Description: </strong>{{item.Description}}
        </div><hr>
        <div class="list_detail_place_bid">
            <form enctype="multipart/form-data" method="POST" action="{% url 'place_bid' %}" name="bid_form">
                {% csrf_token %}
                <div class="list_detail_inner_bid">
                    <strong>Enter and submit bid:</strong><input type="number" placeholder="Enter your bid here" name="set_bid"> &#8377;
                    <input id="place_bid_but" type="submit" value="Place Bid">
                    {% if message_lower_th_price %}             
                        <p style="color:red;font-weight:600;">
                            {{message_lower_th_price}}
                            <!-- {% if special_value_highestbid %}
                                {{special_value_highestbid}}
                            {% endif %} -->
                            <!-- {% if highest_bid %}
                                {{highest_bid}}
                            {% endif %} -->
                        </p>
                    {% endif %}
                    
                    {% if message_lower_th_highest_bid %}
                        <p style="color:red;font-weight:600;">
                            {{message_lower_th_highest_bid}}
                            {% if highest_bid %}
                                {{highest_bid}}
                            {% endif %}
                        </p>
                    {% endif %}
                </div>  
                <input type="hidden" name="id_bid" value="{{item.id}}">              
            </form><br>
            <strong>Recent Bids : 
                {% if highest_bid %}
                    Highest Bid value - {{highest_bid}} &#8377;
                {% else %}
                    No bids
                {% endif %}
            </strong> 
            <div class="display_bids_by_users">
                {% for bid in item.bids.all %}
                    <p>&#10148; <strong>{{bid.Bid_Added_By}}: </strong>{{bid.Current_Bid}} &#8377;</p>
                {% endfor %}
            </div>

            <!-- {{item.bids.Current_Bid}} -->
        </div><hr>
    </div>
    
    <div class="close_bid">
        {% if user.id == item.Posted_By.id %}
            <form action="{% url 'close_auction' %}" enctype="multipart/form-data" method="POST" name="close_bidding">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{item.id}}">
                <input type="hidden" name="selling_id" value="{{user.id}}">
                <input type="hidden" name="Highest_bid" value="{{highest_bid}}">
                <input type="submit" name="close_bid_btn" value="Close Auction" style=" width: 125px;
                                                                                        margin-top: 0px;
                                                                                        margin-bottom: 18px;">
            </form>
        {% endif %}
    </div>

    <div class="list_detail_add_comment"><br>
        <strong>Comments:</strong>
        <form enctype="multipart/form-data" method="POST" action="{% url 'add_comment' %}" name="comment_form"> 
            {% csrf_token %} 
            <div class="list_detail_inner_comment">
                <textarea name="comment" placeholder="Type your comments here"></textarea>
                <input type="submit" value="Add Comment"> 
            </div>
            <input type="hidden" name="id_comment" value="{{item.id}}">               
        </form>
        {% for comment in item.comments.all %}
            <div id="user_comments_post">
                <p>
                    <strong>{{comment.Comment_Added_By}}: </strong>{{comment.Comment}}
                </p>
            </div>
        {% endfor %} 
        <!-- {{item.comments}} -->
    </div>
</div>    
{% endblock %}