{% extends 'auction/layout.html' %}
{% load static %}
{% block body %}
<div class="inner_container">
    <h2 style="text-align:center;">Watchlist</h2>
    <div class="listing_holder">
        {% for list in listing %}
                <a id="list_tag" href="view/{{list.id}}">
                    <div class="list">
                        <div class="image">
                            {% if list.Display_Image %}
                                <img src="/media/{{list.Display_Image}}">
                            {% else %}
                                <!-- <p>No image posted by user</p> -->
                                <img src="/media/no-image-available-icon.jpg">
                            {% endif %}
                            <!-- {{list.Display_Image}} -->
                        </div>
                        <div class="details">
                            <div><h3>{{list.Title}}</h3></div><br>
                            <div><strong>Price:  </strong>{{list.Price}} &#8377;</div><br>
                            <div><strong>Description:  </strong>{{list.Description}}</div><br> 
                            <!-- <div>{{list.id}}</div>       -->
                        </div>
                   </div>
                </a>
               
        {% empty%}
        No Posts
        {% endfor %}
    </div>
</div>    
{% endblock %}