*{
    font-family: sans-serif;
}

html,body{
    height:100%;
    margin:0px;

}

.window{
    display: grid;
    height: 100%;
    grid-template-rows: 7% auto;
}

.menuGrid{
    display: grid;
    grid-template-columns: 20% 0.1% auto;
    /* gap: 0.5rem; */
    height:100%;
}
/* .left{
    border: black solid;
} */
.content{
    /* border: black solid; */
    padding-left: 1rem;
}
#navlist{
    color:black;
}

#navlist>li{
    list-style: none;
}

#navlist>li>button{
    border: none;
    background-color: transparent;
    padding-top: 24px;
    /* font-size: 1.2rem; */
    font-size: 18px;
    color: #00000082;
}

#navlist>li>button:hover{
    border: none;
    color: black;
    padding-top: 24px;
    /* font-size: 1.3rem; */
    font-size:20px;
}
.verticalLine{
border:#0000002e solid 1px;
}
.composeViewContainer{
/* border:black solid; */
display: grid;
height: 100%;
/* grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr; */
gap:1.5rem;
}
.composeViewContainer>div>label{
    /* margin: auto;
    margin-left: auto; */
    margin-left: 0px;
}
.composeViewContainer>div{
    display: grid;
    grid-template-columns: 5% 80%;
    gap: 2rem;
}
.composeViewContainer>div>input{
    height: 1.3rem;
}
.composeViewContainer>div>textarea{
    height: 5rem;
}
.navbar{
    justify-content: space-between;
    display: flex;
    box-shadow: 0px 0px 4px 0px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: rgb(14, 12, 12);
}

.navbar>div>ul>li{
    list-style: none;
    display: inline;
    margin-left: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar>div>ul>li>a{
    text-decoration: none;
    color:rgba(245, 245, 245, 0.727);
}
.navbar>div>ul>li>a:hover{
    font-size: 1.35rem;
    color:white;
}

/* registration  */
.logReg{
    /* border:black solid; */
    min-height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.logReg>form>div{
    display: grid;
    gap: 1rem;
    transform: scale(1.3);
    border: black solid 1px;
    padding: 0rem 2rem 1.5rem 2rem;
    border-radius: 0.25rem;
}

.logReg>form>div>div{
    display: grid;

}

#submitreg{
    color: black;
    background-color: white;
    border: solid black 1px;
    outline: white;
    border-radius: 4px;
    width: fit-content;
    padding: 4px;
    margin: auto;
}

#submitreg:hover{
    color: white;
    background-color: black;
    border: solid black 1px;
    outline: white;
    border-radius: 4px;
    width: fit-content;
    padding: 4px;
    margin: auto;
}

/* alert */
#alert{
    position: absolute;
    display: block;
    top: 1.5rem;
    text-align: center;
    margin: auto;
    width: 100%;
    background-color: wheat;
}