<!DOCTYPE html>
<html>
    <head>

        <title>Upload images</title>

        <style>
            body {

                height:100vh;
                width:100vh;
            }
            .rightpart{
                /* border:black solid; */
                display:grid;
                place-items: center;
                height:100%;
                width:100%;
            }
        </style>
    </head>
    <body>
        <div class="rightpart">
            <div class="btn"> 
                <form class="add_images" enctype="multipart/form-data" name="Upload_Images" action="{% url 'mywikiapp:save_image' %}" method="POST">
                    <div>                        
                        {% csrf_token %}
                        {{formimg.management_form}}
                        {% for i in formimg %}
                            {{i}}
                        {% endfor %} 
                        <input type="submit" value="Save Images">
                        <a href="{% url 'mywikiapp:index' %}"><button type="button">Back to Home Page</button></a>
                    </div>
                    <!-- {{formimg}} -->
                    <!-- <input required name="images" type="file" multiple="multiple" name="images"> -->
                </form>     
            </div>
        </div>
        
    </body>
</html>

